header{
    padding: 20px;
    margin: 0px;
    background-color: #998482;
   
}
header h1{
    font-size: 96;
    text-decoration: solid;
    margin: 190px 0px 30px 0px;
}
#glowna .col-2{
    padding: 20px;
    background-color: #998482;
}
#glowna .col-2 .kontakt, #glowna .col-2 .jezyki, #glowna .col-2 .kursy, #glowna .col-2 .other{
    padding: 20px;
}

#glowna .col-2 .list-group-item{
    border: none;
    background-color: #998482;
}
#glowna .col{
    background-color:#e8d7d5;
    text-align: left;
    padding: 20px;
}
#glowna .col .list-group-item{
    background-color:#e8d7d5;
    border: none;
    text-align: left;
}
#glowna .doswiadczenie, #glowna .umiejetnosci, #glowna .wyksztalcenie{
    padding: 20px;
}
footer{
    background-color: #998482;
    text-align: center;
    font-size: small;
}